:root {
    /* colors */
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #cecece;
    --tertiary-bg-color: #a2a0a0;

    --primary-border: 1px solid black;

    /* heading sizes */
    --heading-1-size: 3.5rem;
    --heading-2-size: 2rem;

    /* spacing */
    --radius-small: 5px;

    --padding-small: 10px;

    --margin-small: 20px;

    
    /* Layout */
    

}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'space mono', monospace;
    font-size: 1.8rem;
    font-weight: 500;
    box-sizing: border-box;
}




.hero{
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
    justify-content: space-evenly;
}

.hero-logo {
    height: 15vh;
    width: 50vw;
}

.heading {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 4.2rem;
    text-align: center;
    background-color: var(--secondary-bg-color);
    opacity: 95%;
    margin-bottom: var(--margin-small);
    border-radius: var(--radius-small);

}

.main {
    background-image: url("../images/trees.jpg");
    height: 83vh; 
    padding: var(--padding-small);
    border-radius: var(--radius-small);
}

.content-wrapper {
    padding: var(--padding-small);
}

.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.left {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    border-radius: var(--radius-small);   
}

.search {
    display:flex;
    align-items: center;
    justify-content: center;   
}

.search-section {
    height: 50%;
}

.search-input {
    width: 100%;
    height: 44px;
    margin: 15px 0;
    border: var(--primary-border);
    border-radius: var(--radius-small);
    font-size: large;
}

.search-buttons {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

.search-button {
    padding: 10px 17px;
    border: var(--primary-border);
    border-radius: var(--radius-small);
    font-size: x-large;
    background-color: var(--primary-bg-color);
}

.search-button:hover {
    background-color: #606161;
    color: white;
}

a:link, :visited, :hover, :active  {
text-decoration: none;
color: black;
}


.search-button-links {
    margin-top: var(--margin-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
    
.search-button-link {
        padding: var(--padding-small);
        border: var(--primary-border);
        border-radius: var(--radius-small);
        font-size: 20px;
        font-weight: 700;
        background-color: var(--primary-bg-color);
    }

.search-button-link:hover {
    font-size: large;
    text-decoration: overline;
    }

.messages {
    margin: var(--margin-small);
    text-align: center;
    background-color: var(--primary-bg-color);
}

.messages > h2 {
    border-radius: var(--radius-small);
    letter-spacing: 1.2rem;
    text-align: center;
}
span {
    color: orangered;
    font-weight: bolder;
}

.right {
    width: 75%;
    opacity: 95%;
    display: flex;
    justify-content: stretch;
    border-radius: var(--radius-small);
}


.table, th, td {
    border: var(--primary-border);
    border-radius: var(--radius-small);
    padding: 10px 15px;
    background-color: var(--primary-bg-color);
}

.table-button-link:hover {
        font-size: x-large;
        text-decoration: overline;
}


/* receiving page */

.receiving-page > h2{
    background-color: var(--primary-bg-color);
    text-align: center;
}

.receiving-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#id_receive_quantity {
    width: 100%;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 16px;
    }

.receiving-input-button {
padding: 6px 20px;
font-size: larger;
font-weight: bold;
}

.receiving-button-link {
    padding: 6px 20px;
    border: var(--primary-border);
    border-radius: var(--radius-small);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--primary-bg-color);
}

.receiving-button-link:hover {
font-size: large;
text-decoration: overline;
}

/* issuing page */
.issuing-page > h2{
    background-color: var(--primary-bg-color);
    text-align: center;
}

.issuing-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#id_issue_quantity {
    width: 100%;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 16px;
    }

.issuing-input-button {
padding: 6px 20px;
font-size: larger;
font-weight: bold;
}

.issuing-button-link {
    padding: 6px 20px;
    border: var(--primary-border);
    border-radius: var(--radius-small);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--primary-bg-color);
}

.issuing-button-link:hover {
font-size: large;
text-decoration: overline;
}

/* Details page */

.details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.details-table, th, td {
    border: var(--primary-border);
    border-radius: var(--radius-small);
    padding: 10px 15px;
    background-color: var(--primary-bg-color);
}

.details-table-button-link:hover {
        font-size: x-large;
        text-decoration: overline;
}












