/* reseting browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* across site margin and font family */
html {
  margin: 15px;
  font-family: "space mono", monospace;
}

/* font */
.body {
  font-size: 62.5%; /* setting default browser font size*/
  font-size: 1.8rem; /* setting app font size*/
  font-weight: 500; /* setting app font weight*/
}

/* grid for logo section and content section */
.main-app-container {
  display: grid;
  grid-template-rows: 15vh 85vh;
}

/* styles for top section containing logo*/
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles for logo*/
.logo {
  height: 10vh;
  width: 50vw;
}

/* background image style */
.main-background {
  background-image: url("../images/trees.jpg");
  border-radius: 5px;
}

/* grid styles for the main heading and content container */
.content-wrapper {
  display: grid;
  grid-template-rows: 15% 80%;
  border-radius: 5px;
}

/* "stock management" styles base.html */
.main-heading {
  background-color: white;
  margin: 15px 10px;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

/* general anchor link styles unset */
a:link,
:visited,
:hover,
:active {
  text-decoration: none;
}

/* grid layout for list.html */
.stock-list-container {
  margin: 0 10px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

/* layout for the left section of list.html*/
.left {
  margin-top: 3px;
  display: grid;
  grid-template-rows: 5fr 7fr;
  grid-template-columns: 1fr;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
}

/* FORM STYLES */

/* layout for the search section on the left in list.html*/
.search-form {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-gap: 10px;
}

/* styles for the input box in search section */
.search-form-input {
  height: 40px;
  border-radius: 5px;
}

/* layout for search section buttons list.html*/
.form-buttons-and-links-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  height: 50%;
}

/* styles for the search button and refresh link div in left section list.html */
.search-and-refresh-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* common styles for search and export buttons in search-form */
.search-form-button {
  padding: 10px 30px;
  font-size: large;
}

/* styles for the search button in left section list.html*/
#search-button {
  background-color: #f75f95;
  border-radius: 5px;
  opacity: 95%;
}

/* styles for all search form links */
.search-form-link {
  padding: 5px 15px;
  font-size: larger;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

/* style for refresh-link in search form list.html */
#refresh-link {
  background-color: #ff8862;
  border-radius: 5px;
}

/* styles for export button and add-new link in left section list.html */
.export-and-add-new-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* styles for the export button in left section list.html*/
#export-button {
  background-color: #5beca2;
  border-radius: 5px;
}

#add-new-link {
  background-color: #adf960;
  border-radius: 5px;
}

/* END OF FORM STYLES */

/*  messages styles */

/* style for messages heading */
.messages h2 {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 1.5rem;
  text-align: center;
}

/* end of messages styles */

/* styles for the rightside of list.html */

/* creating the grid */
.right {
  display: grid;
  grid-template-rows: 10fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

/* list-table styles */
.right > table > tr,
th,
td {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.table-button-link {
  font-weight: bold;
  font-size: larger;
}

.table-button-link:hover {
  font-weight: bolder;
  font-size: x-large;
}

#issue-link {
  color: #c30045;
}

#receive-link {
  color: #00e772;
}

#details-link {
  color: #65c900;
}

#update-link {
  color: #df3600;
}

#delete-link {
  color: red;
}

.pagination {
  background-color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
