{% extends '_base.html' %} {% load static %} {% block content %}

<div class="stock-list-container">
  <div class="left">
    <form action="" class="search-form">
      <input class="search-form-input" type="text" name="q" id="search" placeholder="  Search" />
      <div class="form-buttons-and-links-group">
        <div class="search-and-refresh-group">
          <button class="search-form-button" id="search-button" title="Search">
            <span>S</span>earch
          </button>
          <a class="search-form-link" href="{% url 'stock_list'%}" id="refresh-link"
            title="Refresh">Refre<span>s</span>h</a>
        </div>
        <div class="export-and-add-new-group">
          <button class="search-form-button" title="Export" id="export-button">
            Export
          </button>
          <a class="search-form-link" href="{% url 'stock_create'%}" id="add-new-link" title="New">Add New</a>
        </div>
      </div>
    </form>



    <!-- start of messages section  -->
    <div class="messages">
      <h2>Message<span>s</span></h2>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}<span>!!</span>
        </p>
        {% endfor %} {% else %}
        <br />
        <hr />
        <p>
          <center>
            Liggiefees stock management
            <hr />
            Version 0.3
          </center>
        </p>
        <hr />
        <p>
          <center>&copy <strong>Creative Software Solutions</strong></center>
        </p>
        <hr />
      </ul>
      {% endif %}
    </div>

    <!-- end of messages -->
  </div>
  <!-- end of left -->

  <!-- start of right -->
  <div class="right">
    <!-- start of table -->
    <table class="table" id="list">
      <thead>
        <tr>
          <th class="export-items">ITEM</th>
          <th class="export-items">COLOR/<span>S</span>IZE</th>
          <th class="export-items">QUANTITY</th>
          <th class="export-items">LOCATION</th>
          <th class="export-items"><span>S</span>TORAGE</th>
          <th class="export-items">CONDITION</th>
          <th>RECEIVE</th>
          <th>I<span>SS</span>UE</th>
          <th>DETAIL<span>S</span></th>
          <th>UPDATE</th>
          <th>DELETE</th>
        </tr>
      </thead>
      {% for stock in queryset %}
      <tr>
        <td>{{stock.category}}</td>
        <td>
          {%if stock.color%} {{stock.color}} {%elif stock.size%} {{stock.size}}
          {%else%} N/A {%endif%}
        </td>
        <td>{{stock.quantity}}</td>
        <td>{{stock.location}}</td>
        <td>
          {%if stock.container_id %}
          {{stock.container_id}}
          {%else%}
          {%if stock.shelf_id%}
          {{stock.shelf_id}}
          {%else%}
          0
          {%endif%}
          {%endif%}
        </td>
        <td>
          {%if stock.condition %} {{stock.condition}} {%else%} N/A {%endif%}
        </td>
        <td id="receive">
          <a class="table-button-link" id="receive-link" href="{% url 'stock_receive' stock.id %}">
            <h5>Receive</h5>
          </a>
        </td>

        <td id="issue">
          <a class="table-button-link" id="issue-link" href="{% url 'stock_issue' stock.id %}">
            <h5>I<span>ss</span>ue</h5>
          </a>
        </td>

        <td id="details">
          <a class="table-button-link" id="details-link" href="{% url 'stock_detail' stock.id %}">
            <h5>Detail<span>s</span></h5>
          </a>
        </td>

        <td id="update">
          <a class="table-button-link" id="update-link" href="{% url 'stock_update' stock.id %}">
            <h5>Update</h5>
          </a>
        </td>

        <td id="delete">
          <a class="table-button-link" id="delete-link" href="{% url 'stock_delete' stock.id %}">
            <h5>Delete</h5>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <!-- end of table -->

  </div>
  <!-- end of right -->
</div>
<!-- end of stock-list-wrapper -->

{% endblock content %}