{% extends '_base.html' %}
{% load static %}
{% block content %}



<div class="left">

<div class="search search-section">
    <form action="">
        <input class="search-input" type="text" name="q" id="search" placeholder="  Search">
        <div class="search-buttons">
            <button class="search-button" title="Search" ><span>S</span>earch</button>
            <button class="search-button" title="Export" id="export" >Export</button>
        </div>
    <div class="search-button-links">
        <a href="{% url 'stock_create'%}" class="search-button-link" title="New"     >Add New</a>
        <a href="{% url 'stock_list'%}"   class="search-button-link" title="Refresh" >Refre<span>s</span>h</a>
    </div>
</form>
</div>
<div class="messages">
    <h2>Message<span>s</span></h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}<span>!!</span>
            </p>
        {% endfor %}
    </ul>
{% endif %}

</div>

</div>


<div class="right">
<table class="table" id="list">
    <thead>
    <tr>
      <th >ITEM</th>
      <th >COLOR/<span>S</span>IZE</th>
      <th >QUANTITY</th>
      <th >LOCATION</th>
      <th ><span>S</span>TORAGE</th>
      <th >CONDITION</th>
      <th >RECEIVE</th>
      <th >I<span>SS</span>UE</th>
      <th >DETAIL<span>S</span></th>
      <th >UPDATE</th>
      <th >DELETE</th>
    </tr>
</thead>
{% for stock in queryset %}
    <tr >
        <td>{{stock.category}}</td>
        <td>{%if stock.color%}
            {{stock.color}}
            {%elif stock.size%}
            {{stock.size}}
            {%else%}
            N/A
            {%endif%}
        </td>
        <td>{{stock.quantity}}</td>
        <td>{{stock.location}}</td>
        <td>{%if stock.container_id %}
            {{stock.container_id}}
            {%else%}
            {%if stock.shelf_id%}
            {{stock.shelf_id}}
            {%else%}
            N/A 
            {%endif%}
            {%endif%}
        </td>
        <td>{%if stock.condition %}
            {{stock.condition}}
            {%else%}
            N/A
            {%endif%}
        </td>
        <td><a class="table-button-link" href="{% url 'stock_receive' stock.id %}"
            ><h5>Receive</h5></a></td>

        <td><a class="table-button-link" href="{% url 'stock_issue' stock.id %}" 
               ><h5>I<span>ss</span>ue</h5></a></td>

       <td><a class="table-button-link" href="{% url 'stock_detail' stock.id %}"
           ><h5>Detail<span>s</span></h5></a></td>

        <td><a class="table-button-link" href="{% url 'stock_update' stock.id %}"
            ><h5>Update</h5></a></td>

        <td><a class="table-button-link" href="{% url 'stock_delete' stock.id %}"
            ><h5>Delete</h5></a></td>  

    </tr>
{% endfor %}
</table>
</div>
{% endblock content %}
